/* Style général pour le body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    min-height: 100vh; /* Assure que le body occupe toute la hauteur de la page */
    display: flex;
    flex-direction: column;
}

/* Style des liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Style pour les listes */
ul {
    list-style-type: none;
}

/* Style de la barre de défilement */
::-webkit-scrollbar {
    background: #2C3E50;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


