/* Responsive design pour tablettes */
@media (max-width: 768px) {
    .annonces-container, .annonces-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .annonce-card {
        padding: 15px;
    }

    .annonce-card img {
        height: 120px;
    }

    .annonce-card h3 {
        font-size: 20px;
        margin: 10px;
    }

    .annonce-card p {
        font-size: 14px;
    }

    .annonce-card button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

/* Responsive design pour téléphones */
@media (max-width: 480px) {
    .annonces-container, .annonces-grid {
        grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
    }

    .annonce-card {
        padding: 10px;
    }

    .annonce-card img {
        height: 100px;
    }

    .annonce-card h3 {
        font-size: 18px;
    }

    .annonce-card p {
        font-size: 12px;
    }

    .annonce-card button {
        padding: 6px 10px;
        font-size: 12px;
    }
}


/* Styles pour la page des annonces */
.annonces-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.annonces-recentes {
    padding: 40px 20px;
    text-align: center;
}

.annonces-recentes h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.annonces-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px; /* Largeur maximale pour la grille */
    margin: 0 auto;   /* Centrer la grille */
    padding: 20px;
}

.annonce-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
}

.annonce-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.annonce-card:hover {
    transform: translateY(-5px);
}

.annonce-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.annonce-card h3 {
    font-size: 22px;
    margin: 15px;
    max-width: 250px;
}

.annonce-card p {
    margin: 0 15px;
    margin-bottom: 15px;
    color: #000000;
    font-weight: bold;
    max-width: 300px;
}

.annonce-card button {
    margin: 15px;
    padding: 10px 15px;
    background-color: #2980B9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
}

.annonce-card button:hover {
    background-color: #1e6391;
}
