/* Header Styles */
header {
    background-color: #2C3E50;
    color: white;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour la navigation */
.nav-links {
    display: flex;
    gap: 5px;
}

.nav-links li {
    display: inline;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.6s;
}

.nav-links li:hover {
    background-color: #34495E;
}

.nav-links a {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.6s;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 28px;
    color: white;
}

/* Responsive Design */

/* Pour les tablettes et mobiles */
@media (max-width: 768px) {
    .logo img{
        display: none; 
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #2C3E50;
        position: absolute;
        top: 60px; /* Ajuster selon la hauteur de la navbar */
        left: 0;
        padding: 0;
        z-index: 1000;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #34495E;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .nav-links.show {
        display: flex; /* Affiche le menu lorsque la classe 'show' est ajoutée */
    }

}
